body {
    background-color: rgb(253, 251, 251);
    margin: 30px;
}

#cabecalho {
    position: fixed;
    top: 0%;
    border: 2px solid red;
    padding: 50px 30px 10px;
}

#minha_foto {
    
}




